# System Files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
error_log
access_log
*.log

# Vendor / Dependencies (If using Composer later)
/vendor/

# IDE Settings
.vscode/
.idea/
*.swp

# Backups
/backups/
*.bak
*.sql
*.zip
*.html
*.rar
